# ALl log files
*.log

# data dump files
feats/
tmp/
__pycache__/
docs/
Vocoders/checkpoints/*
pretrained_model_checkpoints/
pretrained_models/
fairseq/
# audios
*.wav
*.flac
*.mp3
*.m4a
*.ogg

# OOD
OOD/data/

# noise
Multi-Condition/musan/

# python packages
*.egg-info/
.pytest_cache/